//_partial Skabelon

//VARIABLES

//Padding_______________________________________________
//Desktop padding
$padding-desktop: 100px;

//Tablet padding
$padding-tablet: 50px;

//Mobil padding
$padding-mobil: 10px;

//Top og bund padding
$padding-top-bottom: 50px;

//Gap padding
$padding-gap: 50px;

//Farver__________________________________________________
$primary-red: #851717;
$black-faded: #454545;


//MIXINS

//Flex____________________________________________________
//flex-column, 50px-gap
@mixin flex-column($gap:50px, $flex-direction:column) {  
    display: flex;
    flex-direction: $flex-direction;
    gap: $gap;
}

//Grid____________________________________________________
//Grid med 2 columns
@mixin grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 50px;
}

// Mobil grid - 2 rows, 50px-gap
@mixin mobil-grid($template-rows: auto auto) {
    display: grid;
    grid-template-rows: $template-rows;
    grid-template-columns: 1fr;
    gap: 50px;
}



